<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.da.editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.da.editor.Perspective"
            id="com.da.editor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.da.editor.View"
            id="com.da.editor.view">
      </view>
      <view
            allowMultiple="false"
            class="com.da.editor.cnf.MyNavigator"
            id="com.da.editor.cnf.view"
            name="Project"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.da.editor.cnf.MyNavigatorContentProvider"
            id="com.da.editor.navigatorContent"
            labelProvider="com.da.editor.cnf.MyNavigatorLabelProvider"
            name="MyNavigatorContent">
         <triggerPoints>
            <instanceof
                  value="com.da.editor.cnf.NavigatorRoot">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.da.editor.cnf.view">
      </viewer>
      <viewerContentBinding
            viewerId="com.da.editor.cnf.view">
         <includes>
            <contentExtension
                  pattern="com.da.editor.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
